<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About METanong</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='imgs/style2.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='imgs/icon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='imgs/icon1.ico') }}" type="image/x-icon">
</head>

<body>
  <div class="about-container">
    <a href="/" class="back-btn">Back to Chat</a>
    <div class="bubble">
        <p class="about-description">
            About METanong
            <br></br>
            METanong is your dedicated virtual assistant tailored specifically for Mets Logistics Information. With advanced natural language processing capabilities, METanong is designed to provide quick and accurate responses to all your queries related to Mets Logistics.
            <br></br>
            Features:
            <br></br>
            Real-time Information: METanong is constantly updated with the latest Mets Logistics data, ensuring that you receive the most relevant and up-to-date information in real-time.
            Interactive Conversations: Engage in natural and interactive conversations with METanong. It understands context and can handle complex queries, providing personalized responses tailored to your specific needs.
            Multi-platform Accessibility: Access MetsLogiBot seamlessly across various platforms, including web browsers, mobile devices, and messaging applications. Whether you're at your desk or on the go, METanong is always available to assist you.
            User-Friendly Interface: METanong's intuitive interface makes it easy to interact with. Simply type your query, and METanong will provide you with the information you need, eliminating the need for lengthy searches or phone calls.
            <br></br>
            How METanong Can Help You:
            <br></br>
            Address FAQs: Have questions about Mets Logistics policies, services, or procedures? METanong is here to help! It can address frequently asked questions and provide you with the information you need.
            Experience the Future of Logistics with METanong. Start Chatting Today!
        </p>
    </div>
</div>

</body>
</html>
